In [2]:
import pandas as pd

# plotting:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [7]:
data = pd.read_csv(f"../data/eth_frxeth_swaps.csv", index_col=0)
data

,block_timestamp,price_oracle,virtual_price,p,dx,dy,pool_eth_balance_before_swap,pool_frxeth_balance_before_swap,pool_eth_balance_after_swap,pool_frxeth_balance_after_swap,swap_fee,gas_used
0,1666713587,1000000000000000000,1000000000000000100,1000000000000016527,1000000000000000000,999599999999991739,1000000000000000000000000000000,1000000000000000000000000000000,1000000000001000000000000000000,999999999999000200000000008263,399999999999996,19231
1,1666713599,1000000000000000152,1000000000000000199,1000000000000033054,1000000000000000000,999599999999975217,1000000000001000000000000000000,999999999999000200000000008263,1000000000002000000000000000000,999999999998000400000000033051,399999999999990,21501
2,1666713611,1000000000000000379,1000000000000000299,1000000000000049581,1000000000000000000,999599999999958697,1000000000002000000000000000000,999999999998000400000000033051,1000000000003000000000000000000,999999999997000600000000074363,399999999999983,21501
3,1666713623,1000000000000000682,1000000000000000399,1000000000000066109,1000000000000000000,999599999999942178,1000000000003000000000000000000,999999999997000600000000074363,1000000000004000000000000000000,999999999996000800000000132197,399999999999976,21501
4,1666713635,1000000000000001059,1000000000000000499,1000000000000082636,1000000000000000000,999599999999925655,1000000000004000000000000000000,999999999996000800000000132197,1000000000005000000000000000000,999999999995001000000000206557,399999999999970,21501
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1666833527,1000000000161637941,1000000000000999599,1000000000165206618,1000000000000000000,999599999834867724,1000000009995000000000000000000,999999990006999000825372385097,1000000009996000000000000000000,999999990005999200825537550413,399999999933920,21501
9996,1666833539,1000000000161654469,1000000000000999699,1000000000165223145,1000000000000000000,999599999834851203,1000000009996000000000000000000,999999990005999200825537550413,1000000009997000000000000000000,999999990004999400825702732253,399999999933914,21501
9997,1666833551,1000000000161670996,1000000000000999799,1000000000165239672,1000000000000000000,999599999834834683,1000000009997000000000000000000,999999990004999400825702732253,1000000009998000000000000000000,999999990003999600825867930617,399999999933907,21501
9998,1666833563,1000000000161687523,1000000000000999899,1000000000165256200,1000000000000000000,999599999834818163,1000000009998000000000000000000,999999990003999600825867930617,1000000009999000000000000000000,999999990002999800826033145504,399999999933900,21501
9999,1666833575,1000000000161704050,1000000000000999999,1000000000165272727,1000000000000000000,999599999834801641,1000000009999000000000000000000,999999990002999800826033145504,1000000010000000000000000000000,999999990002000000826198376916,399999999933894,21501